html,

#cabeceraweb{
    background-color: lightseagreen;
}
#navegacionprincipal{
    background-color: rgb(107, 166, 241);
}

#barralateral{
    background-color: mediumslateblue;
    float:left;
    height: 1080px;
}

#contenido{
    background-color:rgb(114, 100, 95);
    margin-left: 220px;
    padding-left: 15px;
    padding-top: 10px;
}
#pie{
    background-color: salmon;
    clear: both;
    margin-top: 20px;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    color: ghostwhite;
    background-color: rgb(49, 49, 56);
}

li{
    display: inline;
}



